<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets filter='less' output='css/compiled-main.css'
            '@WordRotPlayBundle/Resources/public/less/*'
        %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="account-summary">
            {% if app.user %}
            Your username is {{ app.user.username }}.
            {% else %}
            You aren't logged in.
            {% endif %}
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
