<!-- Backbone View Templates -->

{#
	User Summary 
#}
<script type="text/template" id="user_summary_template">
	<p class="user name"><%= username %></p>
	<p class="user statistics"><%= wordCount %> words in <%= listCount %> lists</p>
	<p><a href="{{ path('logout') }}">logout</a></p>
</script>

<!-- End Backbone View Templates -->